.wrapper {
  display: grid;
  grid-template-rows: 1fr 0.1fr 1fr;
  height: 100%;
  width: 100%;
  position: relative;
}

.name-wrapper,
.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 0.6rem;
  font-family: Monsterrat;
}

.title-wrapper {
  align-items: flex-start;
  padding-top: 0.5rem;
  font-size: 0.7rem;
}

.underline {
  border-bottom: 2px solid black;
  width: 20%;
  justify-self: center;
}

input {
  outline: none;
  background-color: transparent;
  text-align: center;
}

.editBtn {
  position: absolute;
  right: 0;
  margin-right: 0.2rem;
  margin-top: 0.2rem;
  height: 30px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  background: #57cc99;
}

.editBtn:hover {
  background-color: #80ed99;
}
.editBtn:active {
  top: 2px;
}

.submitBtn {
  height: 30px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  background: #57cc99;
}

.name-form {
  position: absolute;
  border: 1px solid black;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  right: 0;
  padding: 0.5rem;
  background-color: #57cc99;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 5px;
}
